<section id="carousel">
  {{!-- {{>youtube embedCode="OeFSRVFcJTI" }} --}}

    <div id="slider">
        {{#each video}}
            <div class="slides {{#if classes}}{{classes}}{{/if}}" data-slide-num="{{slideNum}}" data-modal-id="{{videoid}}">
                <img src="{{imgLocation}}" />
            </div>
        {{/each}}

        <div id="dot">
            {{#each video}}
                <span class="dot {{#if classes}}{{classes}}{{/if}}" data-dot-num="{{slideNum}}"></span>
            {{/each}}
        </div>
    </div>

</section>