{{#> section id="gallery"}}
    <h2>Gallery</h2>
    <div class="gallery-container container">
        {{#each gallery}}
        <a href="./assets/img/gallery/{{img}}" data-lightbox="{{data}}" class="{{class}}">
            <img src="./assets/img/gallery/{{img}}" alt="{{alt}}">
        </a>
        {{/each}}
    </div>
{{/section}}