<div class="gallery-container">
    {{#each gallery}}
    <a href="./assets/img/gallery/{{img}}" data-lightbox="{{data}}" class="{{class}}">
        <img class="img-curved small-curved" src="./assets/img/gallery/{{img}}" alt="{{alt}}">
    </a>
    {{/each}}
</div>