<section id="stay-connected" class="orange">
  <div class="container flex-row space-between align-items-center ">

    <div class="stay-connected-txt">
      <h2>{{title}}</h2>
      <p>Stay updated on all the latest news and announcements from Reimagine Food Fest. Follow us on social media and sign up for our newsletter to receive exclusive offers, event updates, and behind-the-scenes insights.</p>
      <div class="social-media-container">
        <a href="https://www.facebook.com/reimaginefoodfest" target="_blank">
          <img src="{{#equal page 'home'}}./{{else}}../{{/equal}}assets/img/global/facebook-icon.png" alt="Facebook Icon">
        </a>
        <a href="https://www.instagram.com/reimaginefoodfest" target="_blank">
          <img src="{{#equal page 'home'}}./{{else}}../{{/equal}}assets/img/global/instagram-icon.png" alt="Instagram Icon">
        </a>
        <a href="mailto:">
          <img src="{{#equal page 'home'}}./{{else}}../{{/equal}}assets/img/global/email-icon.png" alt="Email Icon">
        </a>
      </div>
    </div>

    <div class="stay-connected-img">
      <div class="circle-container">
        <img src="{{#equal page 'home'}}./{{else}}../{{/equal}}assets/img/global/food-stand-art.png" alt="food stand art">
      </div>
    </div>
  </div>
</section>